.successful {
    color: green;
    background: lightgreen;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.unsuccessful{
    color: red;
    background: rgb(255, 190, 190);
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

body{
    background: #272727;
    color: lightsalmon;
}

*{
    margin: 0 auto;
    padding: 0 auto;
    text-decoration: none;
    list-style: none;
}

.phonebook_container{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 50px auto;
    background-color: #1E1E1E;
    border-radius: 15px;
}

.phonebook_container h1{
    font-size: 40px;
    margin: 20px auto;
}

.phonebook_container h2{
    margin: 25px auto;
    font-size: 30px;
}

.input{
    background-color:white;
    border-radius: 15px;
    height: 20px;
}

.btn{
    background-color: salmon;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    font-weight: bolder;
    font-size: 13px;
}





